<div class="card bg-light mb-3" data-key="{{id}}" style="margin: 20px;" onclick="window.location.href='/update/{{id}}'">
        <div class="card-header">
            <h5>{{name}}</h5>
        </div>
        <div class="card-body">
            {{phone}}
        </div>
</div>