<!DOCTYPE html>
<html>
    <head>
        <title>Lab15</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <script src=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="/js/func.js"></script>
    </body>
</html>