<div class="col-md-8 offset-md-2" style="margin-top: 20px;">
    <div style="height:450px; overflow-y: scroll; border: 1px solid black;">
        {{#each contacts}}
            {{> contact}}
        {{/each}}
    </div>
    <div>
        <button style="width: 100%; margin-top: 20px;" class="btn btn-info" onclick="window.location.href='/add'">Add</button>
    </div>
</div>
